{% extends "basefront.html.twig" %}
{% block contenupage %}
	<div class="ps-categogy">
		<div class="container">
			<ul class="ps-breadcrumb">
				<li class="ps-breadcrumb__item">
					<a href="index.html">Home</a>
				</li>
				<li class="ps-breadcrumb__item">
					<a href="index.html">Shop</a>
				</li>
				<li class="ps-breadcrumb__item active" aria-current="page">{{categorie.nomcategorie}}</li>
			</ul>
			<h1 class="ps-categogy__name">{{categorie.nomcategorie}}<sup>({{nombredeproduits}})</sup>
			</h1>
			<div class="ps-categogy__content">
				<div class="row row-reverse">
					<div class="col-12 col-md-9">
						<section class="ps-section--seller-diagnosis">
							<h3 class="ps-section__title">Bestsellers in Diagnosis</h3>
							<div class="ps-section__carousel">
								<div class="owl-carousel" data-owl-auto="false" data-owl-loop="true" data-owl-speed="13000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="2" data-owl-item-lg="3" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">

									<div class="ps-product ps-product--standard">
										<div class="ps-product__thumbnail">
											<a class="ps-product__image" href="product1.html">
												<figure><img src="{{asset('front/img/026.jpg')}}" alt="alt"/><img src="{{asset('front/img/027.jpg')}}" alt="alt"/>
												</figure>
											</a>
											<div class="ps-product__actions">
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="#">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="#" data-toggle="modal" data-target="#popupCompare">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
													<a href="#" data-toggle="modal" data-target="#popupQuickview">
														<i class="fa fa-search"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#" data-toggle="modal" data-target="#popupAddcart">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
											</div>
											<div class="ps-product__badge">
												<div class="ps-badge ps-badge--sale">Sale</div>
												<div class="ps-badge ps-badge--hot">Hot</div>
											</div>
										</div>
										<div class="ps-product__content">
											<h5 class="ps-product__title">
												<a href="product1.html">Modern Bedroom Storage</a>
											</h5>
											<div class="ps-product__meta">
												<span class="ps-product__price sale">$497.39</span>
												<span class="ps-product__del">$466.99</span>
											</div>
											<div class="ps-product__rating">
												<select class="ps-rating" data-read-only="true">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4" selected="selected">4</option>
													<option value="5">5</option>
												</select>
												<span class="ps-product__review">( Reviews)</span>
											</div>
											<div class="ps-product__desc">
												<ul class="ps-product__list">
													<li>Study history up to 30 days</li>
													<li>Up to 5 users simultaneously</li>
													<li>Has HEALTH certificate</li>
												</ul>
											</div>
											<div class="ps-product__actions ps-product__group-mobile">
												<div class="ps-product__quantity">
													<div class="def-number-input number-input safari_only">
														<button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
															<i class="icon-minus"></i>
														</button>
														<input class="quantity" min="0" name="quantity" value="1" type="number"/>
														<button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
															<i class="icon-plus"></i>
														</button>
													</div>
												</div>
												<div class="ps-product__cart">
													<a class="ps-btn ps-btn--warning" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
												</div>
												<div class="ps-product__item cart" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="wishlist.html">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="compare.html">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="ps-product ps-product--standard">
										<div class="ps-product__thumbnail">
											<a class="ps-product__image" href="product1.html">
												<figure><img src="{{asset('front/img/026.jpg')}}" alt="alt"/><img src="{{asset('front/img/027.jpg')}}" alt="alt"/>
												</figure>
											</a>
											<div class="ps-product__actions">
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="#">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="#" data-toggle="modal" data-target="#popupCompare">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
													<a href="#" data-toggle="modal" data-target="#popupQuickview">
														<i class="fa fa-search"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#" data-toggle="modal" data-target="#popupAddcart">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
											</div>
											<div class="ps-product__badge">
												<div class="ps-badge ps-badge--sale">Sale</div>
												<div class="ps-badge ps-badge--hot">Hot</div>
											</div>
										</div>
										<div class="ps-product__content">
											<h5 class="ps-product__title">
												<a href="product1.html">Modern Bedroom Storage</a>
											</h5>
											<div class="ps-product__meta">
												<span class="ps-product__price sale">$497.39</span>
												<span class="ps-product__del">$466.99</span>
											</div>
											<div class="ps-product__rating">
												<select class="ps-rating" data-read-only="true">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4" selected="selected">4</option>
													<option value="5">5</option>
												</select>
												<span class="ps-product__review">( Reviews)</span>
											</div>
											<div class="ps-product__desc">
												<ul class="ps-product__list">
													<li>Study history up to 30 days</li>
													<li>Up to 5 users simultaneously</li>
													<li>Has HEALTH certificate</li>
												</ul>
											</div>
											<div class="ps-product__actions ps-product__group-mobile">
												<div class="ps-product__quantity">
													<div class="def-number-input number-input safari_only">
														<button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
															<i class="icon-minus"></i>
														</button>
														<input class="quantity" min="0" name="quantity" value="1" type="number"/>
														<button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
															<i class="icon-plus"></i>
														</button>
													</div>
												</div>
												<div class="ps-product__cart">
													<a class="ps-btn ps-btn--warning" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
												</div>
												<div class="ps-product__item cart" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="wishlist.html">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="compare.html">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="ps-product ps-product--standard">
										<div class="ps-product__thumbnail">
											<a class="ps-product__image" href="product1.html">
												<figure><img src="{{asset('front/img/026.jpg')}}" alt="alt"/><img src="{{asset('front/img/027.jpg')}}" alt="alt"/>
												</figure>
											</a>
											<div class="ps-product__actions">
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="#">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="#" data-toggle="modal" data-target="#popupCompare">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
													<a href="#" data-toggle="modal" data-target="#popupQuickview">
														<i class="fa fa-search"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#" data-toggle="modal" data-target="#popupAddcart">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
											</div>
											<div class="ps-product__badge">
												<div class="ps-badge ps-badge--sale">Sale</div>
												<div class="ps-badge ps-badge--hot">Hot</div>
											</div>
										</div>
										<div class="ps-product__content">
											<h5 class="ps-product__title">
												<a href="product1.html">Modern Bedroom Storage</a>
											</h5>
											<div class="ps-product__meta">
												<span class="ps-product__price sale">$497.39</span>
												<span class="ps-product__del">$466.99</span>
											</div>
											<div class="ps-product__rating">
												<select class="ps-rating" data-read-only="true">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4" selected="selected">4</option>
													<option value="5">5</option>
												</select>
												<span class="ps-product__review">( Reviews)</span>
											</div>
											<div class="ps-product__desc">
												<ul class="ps-product__list">
													<li>Study history up to 30 days</li>
													<li>Up to 5 users simultaneously</li>
													<li>Has HEALTH certificate</li>
												</ul>
											</div>
											<div class="ps-product__actions ps-product__group-mobile">
												<div class="ps-product__quantity">
													<div class="def-number-input number-input safari_only">
														<button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
															<i class="icon-minus"></i>
														</button>
														<input class="quantity" min="0" name="quantity" value="1" type="number"/>
														<button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
															<i class="icon-plus"></i>
														</button>
													</div>
												</div>
												<div class="ps-product__cart">
													<a class="ps-btn ps-btn--warning" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
												</div>
												<div class="ps-product__item cart" data-toggle="tooltip" data-placement="left" title="Add to cart">
													<a href="#">
														<i class="fa fa-shopping-basket"></i>
													</a>
												</div>
												<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
													<a href="wishlist.html">
														<i class="fa fa-heart-o"></i>
													</a>
												</div>
												<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
													<a href="compare.html">
														<i class="fa fa-align-left"></i>
													</a>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</section>
						<div class="ps-categogy__wrapper">
							<div class="ps-categogy__type">
								<a href="category-list.html"><img src="{{asset('front/img/bars.png')}}" alt></a>
								<a href="category-grid-detail.html"><img src="{{asset('front/img/gird2.png')}}" alt></a>
								<a class="active" href="category-grid.html"><img src="{{asset('front/img/gird3-active.png')}}" alt></a>
								<a href="category-grid-separate.html"><img src="{{asset('front/img/gird4.png')}}" alt></a>
							</div>
							<div class="ps-categogy__onsale">
								<form>
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" type="checkbox" id="onSaleProduct">
										<label class="custom-control-label" for="onSaleProduct">Show only products on sale</label>
									</div>
								</form>
							</div>
							<div class="ps-categogy__sort">
								<form>
									<span>Sort by</span>
									<select class="form-select">
										<option selected>Latest</option>
										<option value="Popularity">Popularity</option>
										<option value="Average rating">Average rating</option>
										<option value="Latest">Latest</option>
										<option value="Price: low to high">Price: low to high</option>
										<option value="Price: high to low">Price: high to low</option>
									</select>
								</form>
							</div>
							<div class="ps-categogy__show">
								<form>
									<span>Show</span>
									<select class="form-select">
										<option selected>12</option>
										<option value="24">24</option>
										<option value="36">36</option>
										<option value="48">48</option>
									</select>
								</form>
							</div>
						</div>
						<div class="ps-categogy--grid">
							<div class="row m-0">
								{% for produit in produits%}
									<div class="col-6 col-lg-4 col-xl-3 p-0">
										<div class="ps-product ps-product--standard">
											<div class="ps-product__thumbnail">
												<a class="ps-product__image" href="product1.html">
													<figure><img src="{{asset('front/img/013.jpg')}}" alt="alt"/><img src="{{asset('front/img/012.jpg')}}" alt="alt"/>
													</figure>
												</a>
												<div class="ps-product__actions">
													<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
														<a href="#">
															<i class="fa fa-heart-o"></i>
														</a>
													</div>
													<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
														<a href="#" data-toggle="modal" data-target="#popupCompare">
															<i class="fa fa-align-left"></i>
														</a>
													</div>
													<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view">
														<a href="#" data-toggle="modal" data-target="#popupQuickview">
															<i class="fa fa-search"></i>
														</a>
													</div>
													<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Add to cart">
														<a href="#" data-toggle="modal" data-target="#popupAddcart">
															<i class="fa fa-shopping-basket"></i>
														</a>
													</div>
												</div>
												<div class="ps-product__badge"></div>
											</div>
											<div class="ps-product__content">
												<a class="ps-product__branch" href="#">{{produit.marque}}</a>
												<h5 class="ps-product__title">
													<a href="{{ path('produitdetail',{id:produit.id})}}">{{produit.nomproduit}}</a>
												</h5>
												<div class="ps-product__meta">
													<span class="ps-product__price">${{produit.prixunitaire}}</span>
												</div>
												<div class="ps-product__rating">
													<select class="ps-rating" data-read-only="true">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4" selected="selected">4</option>
														<option value="5">5</option>
													</select>
													<span class="ps-product__review">({{produit.nombredereviews}}
														Reviews)</span>
												</div>
												<div class="ps-product__desc">
													<ul class="ps-product__list">
														<li>Study history up to 30 days</li>
														<li>Up to 5 users simultaneously</li>
														<li>Has HEALTH certificate</li>
													</ul>
												</div>
												<div class="ps-product__actions ps-product__group-mobile">
													<div class="ps-product__quantity">
														<div class="def-number-input number-input safari_only">
															<button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
																<i class="icon-minus"></i>
															</button>
															<input class="quantity" min="0" name="quantity" value="1" type="number"/>
															<button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
																<i class="icon-plus"></i>
															</button>
														</div>
													</div>
													<div class="ps-product__cart">
														<a class="ps-btn ps-btn--warning" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
													</div>
													<div class="ps-product__item cart" data-toggle="tooltip" data-placement="left" title="Add to cart">
														<a href="#">
															<i class="fa fa-shopping-basket"></i>
														</a>
													</div>
													<div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist">
														<a href="wishlist.html">
															<i class="fa fa-heart-o"></i>
														</a>
													</div>
													<div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare">
														<a href="compare.html">
															<i class="fa fa-align-left"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="ps-pagination">
							<ul class="pagination">
								<li>
									<a href="#">
										<i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="ps-delivery" data-background="{{asset('front/img/banner-delivery-2.jpg')}}">
							<div class="ps-delivery__content">
								<div class="ps-delivery__text">
									<i class="icon-shield-check"></i>
									<span>
										<strong>100% Secure delivery
										</strong>without contacting the courier</span>
								</div>
								<a class="ps-delivery__more" href="#">More</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="ps-widget ps-widget--product">
							<div class="ps-widget__block">
								<h4 class="ps-widget__title">Categories</h4>
								<a class="ps-block-control" href="#">
									<i class="fa fa-angle-down"></i>
								</a>
								<div class="ps-widget__content ps-widget__category">
									<ul class="menu--mobile">
										{% for cat in cats.getCategories %}
											<li>
												<a href="#">{{cat.nomcategorie}}</a>
												<span class="sub-toggle">
													<i class="fa fa-chevron-down"></i>
												</span>
												<ul class="sub-menu">
													{% for type in cat.getTypes() %}
														<li>
															<a href="#">{{type.nomtype}}</a>
														</li>
													{% endfor %}
												</ul>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<form action="{{path('produitsfiltre',{nomcategorie:categorie.nomcategorie})}}">
								<div class="ps-widget__block">
									<h4 class="ps-widget__title">By price</h4>
									<a class="ps-block-control" href="#">
										<i class="fa fa-angle-down"></i>
									</a>
									<div class="ps-widget__content">
										<div class="ps-widget__price">
											<div id="slide-price"></div>
										</div>
										<div class="ps-widget__input">
											<input class="ps-price" id="slide-price-min" value="$0" name="min">
											<span class="bridge">-</span>
											<input class="ps-price" id="slide-price-max" value="$820" name="max">
										</div>
										<button type="submit" class="ps-widget__filter">Filter</button>
									</div>
								</div>
								<div class="ps-widget__block">
									<h4 class="ps-widget__title">Brands</h4>
									<a class="ps-block-control" href="#">
										<i class="fa fa-angle-down"></i>
									</a>
									<div class="ps-widget__content">
										{% for marque in marques.getMarques %}
											<div class="ps-widget__item">
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="{{marque.nommarque}}" name="marques[]">
													<label class="custom-control-label" for="{{marque.nommarque}}">{{marque.nommarque}}</label>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="ps-widget__block">
									<h4 class="ps-widget__title">Ratings</h4>
									<a class="ps-block-control" href="#">
										<i class="fa fa-angle-down"></i>
									</a>
									<div class="ps-widget__content">
										<div class="ps-widget__item">
											<div class="custom-control custom-checkbox">
												<input name="notes[]" class="custom-control-input" type="checkbox" id="rating5" value="5">
												<label class="custom-control-label" for="rating5"></label>
												<div class="custom-label">
													<select class="ps-rating" data-read-only="true">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5" selected="selected">5</option>
													</select>
													<span>(6)</span>
												</div>
											</div>
										</div>
										<div class="ps-widget__item">
											<div class="custom-control custom-checkbox">
												<input name="notes[]" class="custom-control-input" type="checkbox" id="rating4" value="4">
												<label class="custom-control-label" for="rating4"></label>
												<div class="custom-label">
													<select class="ps-rating" data-read-only="true">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4" selected="selected">4</option>

													</select>
													<span>(9)</span>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="ps-widget__promo"><img src="{{asset('front/img/banner-sidebar1.jpg')}}" alt></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
